

<!--  
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking Confirmation</title>
     <link rel="stylesheet" type="text/css" href="/css/bookin_confirmation.css" />
</head>
<body>
<header style="display: flex; align-items: center; padding: 10px;">
    <img src="/images/logo.png" alt="HomeEase Logo" style="height: 50px; margin-right: 10px;">
    <h2 style="margin: 0;">HomeEase</h2>
</header>

    <h2>Hi <span th:text="${name}">Customer</span>,</h2>
    <p>Thank you for booking <b th:text="${service}">Service</b> with us!</p>
    <p>Your booking ID is <b th:text="${bookingId}">1234</b>.</p>
    <p>We’ll keep you updated on the status. Stay tuned!</p>
    <br>
    <p>Regards,<br><b>HomeEase Team</b></p>
</body>
</html>
-->