# Project metadata
HELP.md

# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Logs
logs/
*.log

# Sensitive Spring Boot config
.env
application.properties
application.yml
